= semantic_form_for product do |f|
  = f.inputs 'Basic', id: 'basic' do
    = f.input :name
    = f.input :price
    = f.input :sale_by_day
    = f.input :initial_price
    = f.input :description
    = f.input :public_time, :as => :datetime_picker
  = f.inputs 'Images' do
    = f.semantic_fields_for :images do |image_f|
      = image_f.inputs do
        = image_f.input :photo, as: :file, label: image_f.object.photo_file_name
  = f.actions

:javascript
  $(function() {
    var publicTime = moment(new Date("#{product.public_time}"))
    $('#product_public_time').val(publicTime.format('YYYY-MM-DDThh:mm:ss'));

    $('form').submit(function(){
      var localPublicTime = $('#product_public_time').val();
      var utcPublicTime = moment(localPublicTime).utc().format('YYYY-MM-DDThh:mm:ss');
      $('#product_public_time').val(utcPublicTime);
    })
  })
