%ul
  - products.each do |product|
    %li
      .product-info
        .name
          %strong= link_to truncate(product.name, length: 15), product_path(product)
        .price
          = humanize_vnd_price product.price
        .sale-off
          = humanize_vnd_price(product.initial_price - product.price)
      .product-image
        %a{href: product_path(product)}
          = product_image(product)
      .product-more-info.icon-eye-open
        = product.followers.count
