%ul
  - products.each do |product|
    %li
      .product-info
        .name
          = product.name
        .price
          = product.price
        .sale-off
          = product.initial_price - product.price
      .product-image
        %a{href: product_path(product)}
          = product_image(product)
      .product-more-info.icon-eye-open
        = product.followers.count
