%ul.nav.nav-tabs
  %li.active
    = link_to t('products.newest'), '#newest-products', 'data-toggle' => 'tab'
  %li
    = link_to t('products.much_price_down'), '#much-price-down', 'data-toggle' => 'tab'
  - if current_user
    %li
      = link_to t('products.user_following'), '#user-following', 'data-toggle' => 'tab'

.tab-content
  .tab-pane.active#newest-products
    = render partial: 'products', locals: {products: @newest_products}
  .tab-pane#much-price-down
    = render partial: 'products', locals: {products: @much_price_down_products}
  .tab-pane#user-following
    = render partial: 'products', locals: {products: @following_products}

:javascript
  $(function() {
    $("img").lazyload();
  })

