#product(ng-controller="ProductsCtrl" data-product-id="#{product.id}" data-followers-count="#{product.followers.count}" data-product-price="#{product.price}")
  .span3
    = product_image(product)
    %button.btn.icon-eye-open
      {{followersCount}}
  .span8
    %strong
      = product.name

    %ul.nav.nav-tabs#product-tabs
      %li.active#basic-tab
        = link_to 'Basic', '#basic',  'data-toggle' => 'tab'
      %li#detail-tab
        = link_to 'Details', '#details', 'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active#basic
        %p
          = t('product.price')
          = product.price

        %p
          = t('product.initial_price')
          = product.initial_price

        %p.lead.text-success
          = t('product.already_descreased')
          = product.initial_price - product.price

        %p
          = t('product.public_time')
          #public-time

        %p
          = t('product.sale_off_time')
          #next-sale-off-time
          #count-down-time

      .tab-pane#details
        = product.description

    - if current_user
      - if current_user.follow?(product)
        %a.btn.disabled
          = t('product.watch')
      - else
        %a.btn.btn-primary#follow(ng-click='follow()')
          = t('product.watch')
    - else
      %a.btn.btn-primary{:href => new_user_session_path('redirect_to' => product_path(product))}
        = t('product.watch')

    - if current_user
      - if current_user.order?(product)
        %a.btn.disabled
          = t('product.buy')
      - else
        %a.btn.btn-primary#buy(ng-click='buy()')
          = t('product.buy')
    - else
      %a.btn.btn-primary{:href => new_user_session_path('redirect_to' => product_path(product))}
        = t('product.buy')


:javascript
  $(function() {
    var nextSaleOffTime = new Date("#{product.next_sale_off_time}");
    var publicTime = new Date("#{product.public_time}");
    $('#public-time').text(publicTime);
    $('#next-sale-off-time').text(nextSaleOffTime);

    $('#count-down-time').countdown({until: nextSaleOffTime, compact: true, onExpiry: checkProductPrice});

    var productId = $('#product').data('product-id');

    function checkProductPrice() {
      $.ajax({
        url: '/products/' + productId + '/price',
        success: function(data) {
          if(data.price == productPrice) {
            setTimeout(checkProductPrice, 10 * 1000);
          }else{
            $('#count-down-time').countdown({until: data.nextSaleOffTime, compact: true, onExpiry: checkProductPrice});
            updateProductWithNewPrice(data.price)
          }
        },
        error: function(data) {
          alert('Có lỗi xảy ra');
        }
      })
    }

  });
