%p
  = t('product.name')
  = product.name
%p
  = t('product.price')
  = product.price
%p
  = t('product.public_date')
  = product.public_date

%p
  = t('product.sale_off_time')
  = product.next_sale_off_time
  #count-down-time

:javascript
  $(function() {
    var nextSaleOffTime = new Date("#{product.next_sale_off_time}");

    $('#count-down-time').countdown({until: nextSaleOffTime, compact: true});
  });
